html, body, .hero-section{
    height: 100%;
}
.hero-section{
    background-image: url('img%20(1).jpg'); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.hero-content h1 {
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 7rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.hero-content h2 {
    margin:0rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

}

@media (max-width: 768px) {

    .hero-content h1{
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: -0.1rem;
    }
    .hero-content h2{
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
    }

    .hero-content{
        padding: 0rem !important;
    }
}
@media (max-width: 420px) {

    .hero-content h1{
        font-size: 4rem;
        font-weight: 900;
        letter-spacing: -0.1rem;
    }
    .hero-content h2{
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
    }

    .hero-content{
        padding: 0rem !important;
    }
}

@media (max-width: 360px) {

    .hero-content h1{
        font-size: 3.7rem;
        font-weight: 900;
        letter-spacing: -0.1rem;
    }
    .hero-content h2{
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
    }

    .hero-content{
        padding: 0rem !important;
    }
}

